In [1]:
import mysql.connector as connection
import pandas as pd
import numpy as np
import os
try:
    mydb = connection.connect(host=os.environ.get("DB_HOST"), database = os.environ.get("DB_NAME"),user=os.environ.get("DB_USER"), passwd=os.environ.get("DB_PASSWORD"),use_pure=True)
    query = "Select * from nba_clean;"
    nba_df = pd.read_sql(query,mydb)
    mydb.close() #close the connection
except Exception as e:
    mydb.close()
    print(str(e))

In [2]:
print(nba_df)

     SEASON_ID  PLAYER_ID      PLAYER_NAME NICKNAME       TEAM_ID  \
0      2014-15     203932     Aaron Gordon    Aaron  1.610613e+09
1      2015-16     203932     Aaron Gordon    Aaron  1.610613e+09
2      2016-17     203932     Aaron Gordon    Aaron  1.610613e+09
3      2017-18     203932     Aaron Gordon    Aaron  1.610613e+09
4      2018-19     203932     Aaron Gordon    Aaron  1.610613e+09
...        ...        ...              ...      ...           ...
2797   2021-22    1630533  Ziaire Williams   Ziaire  1.610613e+09
2798   2019-20    1629627  Zion Williamson     Zion  1.610613e+09
2799   2020-21    1629627  Zion Williamson     Zion  1.610613e+09
2800   2019-20    1629597   Zylan Cheatham    Zylan  1.610613e+09
2801   2021-22    1629597   Zylan Cheatham    Zylan  1.610613e+09

     TEAM_ABBREVIATION   AGE    GP     W     L  ...  PF_RANK  PFD_RANK  \
0                  ORL  19.0  47.0  14.0  33.0  ...    207.0     301.0
1                  ORL  20.0  78.0  32.0  46.0  ...    349.0     132.0
2                  ORL  21.0  80.0  29.0  51.0  ...    412.0      84.0
3                  ORL  22.0  58.0  19.0  39.0  ...    319.0      67.0
4                  ORL  23.0  78.0  40.0  38.0  ...    439.0      39.0
...                ...   ...   ...   ...   ...  ...      ...       ...
2797               MEM  20.0  62.0  41.0  21.0  ...    415.0     305.0
2798               NOP  19.0  24.0  11.0  13.0  ...    174.0     107.0
2799               NOP  20.0  61.0  29.0  32.0  ...    457.0       6.0
2800               NOP  24.0   4.0   2.0   2.0  ...     78.0     513.0
2801               UTA  26.0   1.0   0.0   1.0  ...      1.0     564.0

      PTS_RANK  PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  \
0        320.0            434.0                 317.0     193.0      21.0
1        142.0            358.0                 101.0      54.0      25.0
2         74.0            436.0                  78.0      80.0      24.0
3         66.0            439.0                  72.0      30.0      32.0
4         52.0             91.0                  43.0      34.0      38.0
...        ...              ...                   ...       ...       ...
2797     226.0             95.0                 271.0     268.0      40.0
2798     181.0            114.0                 250.0     142.0      29.0
2799      10.0            107.0                  16.0      33.0      29.0
2800     486.0            324.0                 491.0     239.0      29.0
2801     582.0            332.0                 596.0     268.0      40.0

      CFID            CFPARAMS  count
0      5.0   203932,1610612753      8
1      5.0   203932,1610612753      8
2      5.0   203932,1610612753      8
3      5.0   203932,1610612753      8
4      5.0   203932,1610612753      8
...    ...                 ...    ...
2797   5.0  1630533,1610612763      1
2798   5.0  1629627,1610612740      2
2799   5.0  1629627,1610612740      2
2800   5.0  1629597,1610612740      2
2801   5.0  1629597,1610612762      2

[2802 rows x 68 columns]

# Scoring Metrics

In [3]:
espn_scoring = {"GP_ESPN": [0.0],"FGM_ESPN": [2.0],"FGA_ESPN": [-1.0],"FTM_ESPN": [1.0],"FTA_ESPN": [-1.0],"FG3M_ESPN": [1.0],"REB_ESPN": [1.0],"OREB_ESPN": [0.0],"DREB_ESPN": [0.0],"AST_ESPN": [2.0],"STL_ESPN": [4.0],"BLK_ESPN": [4.0],"TOV_ESPN": [-2.0],"PF_ESPN": [0.0],"DD2_ESPN": [0.0],"TD3_ESPN": [0.0],"PTS_ESPN": [1.0],"W_ESPN" : [0.0]}

In [4]:
yahoo_scoring = {"PTS_YAHOO": [1.0],"REB_YAHOO": [1.2],"AST_YAHOO": [1.5],"STL_YAHOO": [3.0],"BLK_YAHOO": [3.0],"TOV_YAHOO": [-1.0]}

In [5]:
col = ['CFPARAMS', 'CFID', 'NICKNAME','TEAM_ID','PLAYER_ID']
if set(col).issubset(nba_df.columns):
    nba_df = nba_df.drop('CFPARAMS', 1)
    nba_df = nba_df.drop('CFID', 1)
    nba_df = nba_df.drop('NICKNAME', 1)
    nba_df = nba_df.drop('TEAM_ID',1)
    nba_df = nba_df.drop('PLAYER_ID',1)

/var/folders/8z/yxhm1c6x4bvg_s6d6w0cl6_80000gn/T/ipykernel_86574/575339427.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  nba_df = nba_df.drop('CFPARAMS', 1)
/var/folders/8z/yxhm1c6x4bvg_s6d6w0cl6_80000gn/T/ipykernel_86574/575339427.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  nba_df = nba_df.drop('CFID', 1)
/var/folders/8z/yxhm1c6x4bvg_s6d6w0cl6_80000gn/T/ipykernel_86574/575339427.py:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  nba_df = nba_df.drop('NICKNAME', 1)
/var/folders/8z/yxhm1c6x4bvg_s6d6w0cl6_80000gn/T/ipykernel_86574/575339427.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  nba_df = nba_df.drop('TEAM_ID',1)
/var/folders/8z/yxhm1c6x4bvg_s6d6w0cl6_80000gn/T/ipykernel_86574/575339427.py:7: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  nba_df = nba_df.drop('PLAYER_ID',1)

In [6]:
print(nba_df)

     SEASON_ID      PLAYER_NAME TEAM_ABBREVIATION   AGE    GP     W     L  \
0      2014-15     Aaron Gordon               ORL  19.0  47.0  14.0  33.0
1      2015-16     Aaron Gordon               ORL  20.0  78.0  32.0  46.0
2      2016-17     Aaron Gordon               ORL  21.0  80.0  29.0  51.0
3      2017-18     Aaron Gordon               ORL  22.0  58.0  19.0  39.0
4      2018-19     Aaron Gordon               ORL  23.0  78.0  40.0  38.0
...        ...              ...               ...   ...   ...   ...   ...
2797   2021-22  Ziaire Williams               MEM  20.0  62.0  41.0  21.0
2798   2019-20  Zion Williamson               NOP  19.0  24.0  11.0  13.0
2799   2020-21  Zion Williamson               NOP  20.0  61.0  29.0  32.0
2800   2019-20   Zylan Cheatham               NOP  24.0   4.0   2.0   2.0
2801   2021-22   Zylan Cheatham               UTA  26.0   1.0   0.0   1.0

      W_PCT          MIN    FGM  ...  BLK_RANK  BLKA_RANK  PF_RANK  PFD_RANK  \
0     0.298   796.925000   93.0  ...     154.0      202.0    207.0     301.0
1     0.410  1863.120000  274.0  ...      57.0      342.0    349.0     132.0
2     0.363  2297.965000  393.0  ...      83.0      405.0    412.0      84.0
3     0.328  1909.078333  375.0  ...      76.0      438.0    319.0      67.0
4     0.513  2632.533333  470.0  ...      50.0      471.0    439.0      39.0
...     ...          ...    ...  ...       ...        ...      ...       ...
2797  0.661  1346.466667  191.0  ...     291.0      329.0    415.0     305.0
2798  0.458   668.141667  210.0  ...     289.0      441.0    174.0     107.0
2799  0.475  2025.890000  634.0  ...      80.0      540.0    457.0       6.0
2800  0.500    51.043333    6.0  ...     444.0        1.0     78.0     513.0
2801  0.000     5.183333    0.0  ...     520.0        1.0      1.0     564.0

      PTS_RANK  PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  \
0        320.0            434.0                 317.0     193.0      21.0
1        142.0            358.0                 101.0      54.0      25.0
2         74.0            436.0                  78.0      80.0      24.0
3         66.0            439.0                  72.0      30.0      32.0
4         52.0             91.0                  43.0      34.0      38.0
...        ...              ...                   ...       ...       ...
2797     226.0             95.0                 271.0     268.0      40.0
2798     181.0            114.0                 250.0     142.0      29.0
2799      10.0            107.0                  16.0      33.0      29.0
2800     486.0            324.0                 491.0     239.0      29.0
2801     582.0            332.0                 596.0     268.0      40.0

      count
0         8
1         8
2         8
3         8
4         8
...     ...
2797      1
2798      2
2799      2
2800      2
2801      2

[2802 rows x 63 columns]

In [7]:
all_names = nba_df["PLAYER_NAME"].tolist()
names = pd.unique(nba_df[['PLAYER_NAME']].values.ravel())
length = len(names)
print(length)
length_2 = len(all_names)
print(length_2)

570
2802

# ESPN DF

In [8]:
espn_df = pd.DataFrame.from_dict(espn_scoring)  
print(espn_df)

   GP_ESPN  FGM_ESPN  FGA_ESPN  FTM_ESPN  FTA_ESPN  FG3M_ESPN  REB_ESPN  \
0      0.0       2.0      -1.0       1.0      -1.0        1.0       1.0

   OREB_ESPN  DREB_ESPN  AST_ESPN  STL_ESPN  BLK_ESPN  TOV_ESPN  PF_ESPN  \
0        0.0        0.0       2.0       4.0       4.0      -2.0      0.0

   DD2_ESPN  TD3_ESPN  PTS_ESPN  W_ESPN
0       0.0       0.0       1.0     0.0

In [9]:
df_repeated = pd.concat([espn_df]*length, ignore_index=True)
print(df_repeated.head())
print(df_repeated.tail())

   GP_ESPN  FGM_ESPN  FGA_ESPN  FTM_ESPN  FTA_ESPN  FG3M_ESPN  REB_ESPN  \
0      0.0       2.0      -1.0       1.0      -1.0        1.0       1.0
1      0.0       2.0      -1.0       1.0      -1.0        1.0       1.0
2      0.0       2.0      -1.0       1.0      -1.0        1.0       1.0
3      0.0       2.0      -1.0       1.0      -1.0        1.0       1.0
4      0.0       2.0      -1.0       1.0      -1.0        1.0       1.0

   OREB_ESPN  DREB_ESPN  AST_ESPN  STL_ESPN  BLK_ESPN  TOV_ESPN  PF_ESPN  \
0        0.0        0.0       2.0       4.0       4.0      -2.0      0.0
1        0.0        0.0       2.0       4.0       4.0      -2.0      0.0
2        0.0        0.0       2.0       4.0       4.0      -2.0      0.0
3        0.0        0.0       2.0       4.0       4.0      -2.0      0.0
4        0.0        0.0       2.0       4.0       4.0      -2.0      0.0

   DD2_ESPN  TD3_ESPN  PTS_ESPN  W_ESPN
0       0.0       0.0       1.0     0.0
1       0.0       0.0       1.0     0.0
2       0.0       0.0       1.0     0.0
3       0.0       0.0       1.0     0.0
4       0.0       0.0       1.0     0.0
     GP_ESPN  FGM_ESPN  FGA_ESPN  FTM_ESPN  FTA_ESPN  FG3M_ESPN  REB_ESPN  \
565      0.0       2.0      -1.0       1.0      -1.0        1.0       1.0
566      0.0       2.0      -1.0       1.0      -1.0        1.0       1.0
567      0.0       2.0      -1.0       1.0      -1.0        1.0       1.0
568      0.0       2.0      -1.0       1.0      -1.0        1.0       1.0
569      0.0       2.0      -1.0       1.0      -1.0        1.0       1.0

     OREB_ESPN  DREB_ESPN  AST_ESPN  STL_ESPN  BLK_ESPN  TOV_ESPN  PF_ESPN  \
565        0.0        0.0       2.0       4.0       4.0      -2.0      0.0
566        0.0        0.0       2.0       4.0       4.0      -2.0      0.0
567        0.0        0.0       2.0       4.0       4.0      -2.0      0.0
568        0.0        0.0       2.0       4.0       4.0      -2.0      0.0
569        0.0        0.0       2.0       4.0       4.0      -2.0      0.0

     DD2_ESPN  TD3_ESPN  PTS_ESPN  W_ESPN
565       0.0       0.0       1.0     0.0
566       0.0       0.0       1.0     0.0
567       0.0       0.0       1.0     0.0
568       0.0       0.0       1.0     0.0
569       0.0       0.0       1.0     0.0

In [10]:
espn_scoring_df = pd.concat([espn_df]*length_2, ignore_index=True)
print(espn_scoring_df.head())
print(espn_scoring_df.tail())

   GP_ESPN  FGM_ESPN  FGA_ESPN  FTM_ESPN  FTA_ESPN  FG3M_ESPN  REB_ESPN  \
0      0.0       2.0      -1.0       1.0      -1.0        1.0       1.0
1      0.0       2.0      -1.0       1.0      -1.0        1.0       1.0
2      0.0       2.0      -1.0       1.0      -1.0        1.0       1.0
3      0.0       2.0      -1.0       1.0      -1.0        1.0       1.0
4      0.0       2.0      -1.0       1.0      -1.0        1.0       1.0

   OREB_ESPN  DREB_ESPN  AST_ESPN  STL_ESPN  BLK_ESPN  TOV_ESPN  PF_ESPN  \
0        0.0        0.0       2.0       4.0       4.0      -2.0      0.0
1        0.0        0.0       2.0       4.0       4.0      -2.0      0.0
2        0.0        0.0       2.0       4.0       4.0      -2.0      0.0
3        0.0        0.0       2.0       4.0       4.0      -2.0      0.0
4        0.0        0.0       2.0       4.0       4.0      -2.0      0.0

   DD2_ESPN  TD3_ESPN  PTS_ESPN  W_ESPN
0       0.0       0.0       1.0     0.0
1       0.0       0.0       1.0     0.0
2       0.0       0.0       1.0     0.0
3       0.0       0.0       1.0     0.0
4       0.0       0.0       1.0     0.0
      GP_ESPN  FGM_ESPN  FGA_ESPN  FTM_ESPN  FTA_ESPN  FG3M_ESPN  REB_ESPN  \
2797      0.0       2.0      -1.0       1.0      -1.0        1.0       1.0
2798      0.0       2.0      -1.0       1.0      -1.0        1.0       1.0
2799      0.0       2.0      -1.0       1.0      -1.0        1.0       1.0
2800      0.0       2.0      -1.0       1.0      -1.0        1.0       1.0
2801      0.0       2.0      -1.0       1.0      -1.0        1.0       1.0

      OREB_ESPN  DREB_ESPN  AST_ESPN  STL_ESPN  BLK_ESPN  TOV_ESPN  PF_ESPN  \
2797        0.0        0.0       2.0       4.0       4.0      -2.0      0.0
2798        0.0        0.0       2.0       4.0       4.0      -2.0      0.0
2799        0.0        0.0       2.0       4.0       4.0      -2.0      0.0
2800        0.0        0.0       2.0       4.0       4.0      -2.0      0.0
2801        0.0        0.0       2.0       4.0       4.0      -2.0      0.0

      DD2_ESPN  TD3_ESPN  PTS_ESPN  W_ESPN
2797       0.0       0.0       1.0     0.0
2798       0.0       0.0       1.0     0.0
2799       0.0       0.0       1.0     0.0
2800       0.0       0.0       1.0     0.0
2801       0.0       0.0       1.0     0.0

In [11]:
from sqlalchemy import create_engine
from pandas.io import sql
import pymysql
import mysql.connector

In [12]:
mydb = mysql.connector.connect(
  host=os.environ.get("DB_HOST"),
  user=os.environ.get("DB_USER"),
  password=os.environ.get("DB_PASSWORD"),
  database=os.environ.get("DB_NAME")
)

mycursor = mydb.cursor()

sql = "DROP TABLE IF EXISTS espn_scoring"

mycursor.execute(sql)

In [13]:
# Credentials to database connection
hostname=os.environ.get("DB_HOST")
dbname=os.environ.get("DB_NAME")
uname=os.environ.get("DB_USER")
pwd=os.environ.get("DB_PASSWORD")

# Create SQLAlchemy engine to connect to MySQL Database
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}"
				.format(host=hostname, db=dbname, user=uname, pw=pwd))
espn_scoring_df.to_sql('espn_scoring', engine, index=False)

In [14]:
mydb.close()

In [15]:
df_repeated["PLAYER_NAME"] = names

In [16]:
print(df_repeated)

     GP_ESPN  FGM_ESPN  FGA_ESPN  FTM_ESPN  FTA_ESPN  FG3M_ESPN  REB_ESPN  \
0        0.0       2.0      -1.0       1.0      -1.0        1.0       1.0
1        0.0       2.0      -1.0       1.0      -1.0        1.0       1.0
2        0.0       2.0      -1.0       1.0      -1.0        1.0       1.0
3        0.0       2.0      -1.0       1.0      -1.0        1.0       1.0
4        0.0       2.0      -1.0       1.0      -1.0        1.0       1.0
..       ...       ...       ...       ...       ...        ...       ...
565      0.0       2.0      -1.0       1.0      -1.0        1.0       1.0
566      0.0       2.0      -1.0       1.0      -1.0        1.0       1.0
567      0.0       2.0      -1.0       1.0      -1.0        1.0       1.0
568      0.0       2.0      -1.0       1.0      -1.0        1.0       1.0
569      0.0       2.0      -1.0       1.0      -1.0        1.0       1.0

     OREB_ESPN  DREB_ESPN  AST_ESPN  STL_ESPN  BLK_ESPN  TOV_ESPN  PF_ESPN  \
0          0.0        0.0       2.0       4.0       4.0      -2.0      0.0
1          0.0        0.0       2.0       4.0       4.0      -2.0      0.0
2          0.0        0.0       2.0       4.0       4.0      -2.0      0.0
3          0.0        0.0       2.0       4.0       4.0      -2.0      0.0
4          0.0        0.0       2.0       4.0       4.0      -2.0      0.0
..         ...        ...       ...       ...       ...       ...      ...
565        0.0        0.0       2.0       4.0       4.0      -2.0      0.0
566        0.0        0.0       2.0       4.0       4.0      -2.0      0.0
567        0.0        0.0       2.0       4.0       4.0      -2.0      0.0
568        0.0        0.0       2.0       4.0       4.0      -2.0      0.0
569        0.0        0.0       2.0       4.0       4.0      -2.0      0.0

     DD2_ESPN  TD3_ESPN  PTS_ESPN  W_ESPN      PLAYER_NAME
0         0.0       0.0       1.0     0.0     Aaron Gordon
1         0.0       0.0       1.0     0.0      Aaron Henry
2         0.0       0.0       1.0     0.0    Aaron Holiday
3         0.0       0.0       1.0     0.0    Aaron Nesmith
4         0.0       0.0       1.0     0.0    Aaron Wiggins
..        ...       ...       ...     ...              ...
565       0.0       0.0       1.0     0.0      Zach LaVine
566       0.0       0.0       1.0     0.0       Zeke Nnaji
567       0.0       0.0       1.0     0.0  Ziaire Williams
568       0.0       0.0       1.0     0.0  Zion Williamson
569       0.0       0.0       1.0     0.0   Zylan Cheatham

[570 rows x 19 columns]

In [17]:
columns_list = [
                "GP_ESPN",
                "PLAYER_NAME",
                "FGM_ESPN",
                "FGA_ESPN",
                "FTM_ESPN",
                "FTA_ESPN",
                "FG3M_ESPN",
                "REB_ESPN",
                "OREB_ESPN",
                "DREB_ESPN",
                "AST_ESPN",
                "STL_ESPN",
                "BLK_ESPN",
                "TOV_ESPN",
                "PF_ESPN",
                "DD2_ESPN",
                "TD3_ESPN",
                "PTS_ESPN",
                "W_ESPN"
               ]

In [18]:
df_repeated = df_repeated.reindex(columns = columns_list)

In [19]:
print(df_repeated)

     GP_ESPN      PLAYER_NAME  FGM_ESPN  FGA_ESPN  FTM_ESPN  FTA_ESPN  \
0        0.0     Aaron Gordon       2.0      -1.0       1.0      -1.0
1        0.0      Aaron Henry       2.0      -1.0       1.0      -1.0
2        0.0    Aaron Holiday       2.0      -1.0       1.0      -1.0
3        0.0    Aaron Nesmith       2.0      -1.0       1.0      -1.0
4        0.0    Aaron Wiggins       2.0      -1.0       1.0      -1.0
..       ...              ...       ...       ...       ...       ...
565      0.0      Zach LaVine       2.0      -1.0       1.0      -1.0
566      0.0       Zeke Nnaji       2.0      -1.0       1.0      -1.0
567      0.0  Ziaire Williams       2.0      -1.0       1.0      -1.0
568      0.0  Zion Williamson       2.0      -1.0       1.0      -1.0
569      0.0   Zylan Cheatham       2.0      -1.0       1.0      -1.0

     FG3M_ESPN  REB_ESPN  OREB_ESPN  DREB_ESPN  AST_ESPN  STL_ESPN  BLK_ESPN  \
0          1.0       1.0        0.0        0.0       2.0       4.0       4.0
1          1.0       1.0        0.0        0.0       2.0       4.0       4.0
2          1.0       1.0        0.0        0.0       2.0       4.0       4.0
3          1.0       1.0        0.0        0.0       2.0       4.0       4.0
4          1.0       1.0        0.0        0.0       2.0       4.0       4.0
..         ...       ...        ...        ...       ...       ...       ...
565        1.0       1.0        0.0        0.0       2.0       4.0       4.0
566        1.0       1.0        0.0        0.0       2.0       4.0       4.0
567        1.0       1.0        0.0        0.0       2.0       4.0       4.0
568        1.0       1.0        0.0        0.0       2.0       4.0       4.0
569        1.0       1.0        0.0        0.0       2.0       4.0       4.0

     TOV_ESPN  PF_ESPN  DD2_ESPN  TD3_ESPN  PTS_ESPN  W_ESPN
0        -2.0      0.0       0.0       0.0       1.0     0.0
1        -2.0      0.0       0.0       0.0       1.0     0.0
2        -2.0      0.0       0.0       0.0       1.0     0.0
3        -2.0      0.0       0.0       0.0       1.0     0.0
4        -2.0      0.0       0.0       0.0       1.0     0.0
..        ...      ...       ...       ...       ...     ...
565      -2.0      0.0       0.0       0.0       1.0     0.0
566      -2.0      0.0       0.0       0.0       1.0     0.0
567      -2.0      0.0       0.0       0.0       1.0     0.0
568      -2.0      0.0       0.0       0.0       1.0     0.0
569      -2.0      0.0       0.0       0.0       1.0     0.0

[570 rows x 19 columns]

In [20]:
nba_df = pd.merge(nba_df, df_repeated, how = 'right', on = 'PLAYER_NAME')

In [21]:
print(nba_df)

     SEASON_ID      PLAYER_NAME TEAM_ABBREVIATION   AGE    GP     W     L  \
0      2014-15     Aaron Gordon               ORL  19.0  47.0  14.0  33.0
1      2015-16     Aaron Gordon               ORL  20.0  78.0  32.0  46.0
2      2016-17     Aaron Gordon               ORL  21.0  80.0  29.0  51.0
3      2017-18     Aaron Gordon               ORL  22.0  58.0  19.0  39.0
4      2018-19     Aaron Gordon               ORL  23.0  78.0  40.0  38.0
...        ...              ...               ...   ...   ...   ...   ...
2797   2021-22  Ziaire Williams               MEM  20.0  62.0  41.0  21.0
2798   2019-20  Zion Williamson               NOP  19.0  24.0  11.0  13.0
2799   2020-21  Zion Williamson               NOP  20.0  61.0  29.0  32.0
2800   2019-20   Zylan Cheatham               NOP  24.0   4.0   2.0   2.0
2801   2021-22   Zylan Cheatham               UTA  26.0   1.0   0.0   1.0

      W_PCT          MIN    FGM  ...  DREB_ESPN  AST_ESPN  STL_ESPN  BLK_ESPN  \
0     0.298   796.925000   93.0  ...        0.0       2.0       4.0       4.0
1     0.410  1863.120000  274.0  ...        0.0       2.0       4.0       4.0
2     0.363  2297.965000  393.0  ...        0.0       2.0       4.0       4.0
3     0.328  1909.078333  375.0  ...        0.0       2.0       4.0       4.0
4     0.513  2632.533333  470.0  ...        0.0       2.0       4.0       4.0
...     ...          ...    ...  ...        ...       ...       ...       ...
2797  0.661  1346.466667  191.0  ...        0.0       2.0       4.0       4.0
2798  0.458   668.141667  210.0  ...        0.0       2.0       4.0       4.0
2799  0.475  2025.890000  634.0  ...        0.0       2.0       4.0       4.0
2800  0.500    51.043333    6.0  ...        0.0       2.0       4.0       4.0
2801  0.000     5.183333    0.0  ...        0.0       2.0       4.0       4.0

      TOV_ESPN  PF_ESPN  DD2_ESPN  TD3_ESPN  PTS_ESPN  W_ESPN
0         -2.0      0.0       0.0       0.0       1.0     0.0
1         -2.0      0.0       0.0       0.0       1.0     0.0
2         -2.0      0.0       0.0       0.0       1.0     0.0
3         -2.0      0.0       0.0       0.0       1.0     0.0
4         -2.0      0.0       0.0       0.0       1.0     0.0
...        ...      ...       ...       ...       ...     ...
2797      -2.0      0.0       0.0       0.0       1.0     0.0
2798      -2.0      0.0       0.0       0.0       1.0     0.0
2799      -2.0      0.0       0.0       0.0       1.0     0.0
2800      -2.0      0.0       0.0       0.0       1.0     0.0
2801      -2.0      0.0       0.0       0.0       1.0     0.0

[2802 rows x 81 columns]

In [22]:
share_columns = ["GP",
                "FGM",
                "FGA",
                "FTM",
                "FTA",
                "FG3M",
                "REB",
                "OREB",
                "DREB",
                "AST",
                "STL",
                "BLK",
                "TOV",
                "PF",
                "DD2",
                "TD3",
                "PTS",
                "W"]

In [23]:
for column in share_columns:
    nba_df[column +"_ESPN"] = nba_df[column] * nba_df[column+"_ESPN"]

In [24]:
print(nba_df)

     SEASON_ID      PLAYER_NAME TEAM_ABBREVIATION   AGE    GP     W     L  \
0      2014-15     Aaron Gordon               ORL  19.0  47.0  14.0  33.0
1      2015-16     Aaron Gordon               ORL  20.0  78.0  32.0  46.0
2      2016-17     Aaron Gordon               ORL  21.0  80.0  29.0  51.0
3      2017-18     Aaron Gordon               ORL  22.0  58.0  19.0  39.0
4      2018-19     Aaron Gordon               ORL  23.0  78.0  40.0  38.0
...        ...              ...               ...   ...   ...   ...   ...
2797   2021-22  Ziaire Williams               MEM  20.0  62.0  41.0  21.0
2798   2019-20  Zion Williamson               NOP  19.0  24.0  11.0  13.0
2799   2020-21  Zion Williamson               NOP  20.0  61.0  29.0  32.0
2800   2019-20   Zylan Cheatham               NOP  24.0   4.0   2.0   2.0
2801   2021-22   Zylan Cheatham               UTA  26.0   1.0   0.0   1.0

      W_PCT          MIN    FGM  ...  DREB_ESPN  AST_ESPN  STL_ESPN  BLK_ESPN  \
0     0.298   796.925000   93.0  ...        0.0      66.0      84.0      88.0
1     0.410  1863.120000  274.0  ...        0.0     256.0     236.0     220.0
2     0.363  2297.965000  393.0  ...        0.0     300.0     260.0     160.0
3     0.328  1909.078333  375.0  ...        0.0     272.0     236.0     180.0
4     0.513  2632.533333  470.0  ...        0.0     578.0     228.0     224.0
...     ...          ...    ...  ...        ...       ...       ...       ...
2797  0.661  1346.466667  191.0  ...        0.0     130.0     140.0      48.0
2798  0.458   668.141667  210.0  ...        0.0     100.0      64.0      36.0
2799  0.475  2025.890000  634.0  ...        0.0     452.0     228.0     156.0
2800  0.500    51.043333    6.0  ...        0.0       6.0       4.0       4.0
2801  0.000     5.183333    0.0  ...        0.0       0.0       0.0       0.0

      TOV_ESPN  PF_ESPN  DD2_ESPN  TD3_ESPN  PTS_ESPN  W_ESPN
0        -76.0      0.0       0.0       0.0     243.0     0.0
1       -132.0      0.0       0.0       0.0     719.0     0.0
2       -178.0      0.0       0.0       0.0    1019.0     0.0
3       -214.0      0.0       0.0       0.0    1022.0     0.0
4       -324.0      0.0       0.0       0.0    1246.0     0.0
...        ...      ...       ...       ...       ...     ...
2797     -82.0      0.0       0.0       0.0     501.0     0.0
2798    -118.0      0.0       0.0       0.0     540.0     0.0
2799    -334.0      0.0       0.0       0.0    1647.0     0.0
2800      -8.0      0.0       0.0       0.0      12.0     0.0
2801      -0.0      0.0       0.0       0.0       0.0     0.0

[2802 rows x 81 columns]

In [25]:
nba_df['NET_ESPN'] = nba_df['FGM_ESPN'] + nba_df['FGA_ESPN'] + nba_df['FTM_ESPN'] + nba_df["FTA_ESPN"]+ nba_df['FG3M_ESPN'] + nba_df['REB_ESPN'] + nba_df['OREB_ESPN'] + nba_df['DREB_ESPN'] + nba_df['AST_ESPN'] + nba_df['STL_ESPN'] + nba_df['BLK_ESPN'] + nba_df['TOV_ESPN'] + nba_df["PF_ESPN"] + nba_df["DD2_ESPN"] + nba_df["TD3_ESPN"] + nba_df['PTS_ESPN'] + nba_df['GP_ESPN'] + nba_df['W_ESPN']

In [26]:
print(nba_df)

     SEASON_ID      PLAYER_NAME TEAM_ABBREVIATION   AGE    GP     W     L  \
0      2014-15     Aaron Gordon               ORL  19.0  47.0  14.0  33.0
1      2015-16     Aaron Gordon               ORL  20.0  78.0  32.0  46.0
2      2016-17     Aaron Gordon               ORL  21.0  80.0  29.0  51.0
3      2017-18     Aaron Gordon               ORL  22.0  58.0  19.0  39.0
4      2018-19     Aaron Gordon               ORL  23.0  78.0  40.0  38.0
...        ...              ...               ...   ...   ...   ...   ...
2797   2021-22  Ziaire Williams               MEM  20.0  62.0  41.0  21.0
2798   2019-20  Zion Williamson               NOP  19.0  24.0  11.0  13.0
2799   2020-21  Zion Williamson               NOP  20.0  61.0  29.0  32.0
2800   2019-20   Zylan Cheatham               NOP  24.0   4.0   2.0   2.0
2801   2021-22   Zylan Cheatham               UTA  26.0   1.0   0.0   1.0

      W_PCT          MIN    FGM  ...  AST_ESPN  STL_ESPN  BLK_ESPN  TOV_ESPN  \
0     0.298   796.925000   93.0  ...      66.0      84.0      88.0     -76.0
1     0.410  1863.120000  274.0  ...     256.0     236.0     220.0    -132.0
2     0.363  2297.965000  393.0  ...     300.0     260.0     160.0    -178.0
3     0.328  1909.078333  375.0  ...     272.0     236.0     180.0    -214.0
4     0.513  2632.533333  470.0  ...     578.0     228.0     224.0    -324.0
...     ...          ...    ...  ...       ...       ...       ...       ...
2797  0.661  1346.466667  191.0  ...     130.0     140.0      48.0     -82.0
2798  0.458   668.141667  210.0  ...     100.0      64.0      36.0    -118.0
2799  0.475  2025.890000  634.0  ...     452.0     228.0     156.0    -334.0
2800  0.500    51.043333    6.0  ...       6.0       4.0       4.0      -8.0
2801  0.000     5.183333    0.0  ...       0.0       0.0       0.0      -0.0

      PF_ESPN  DD2_ESPN  TD3_ESPN  PTS_ESPN  W_ESPN  NET_ESPN
0         0.0       0.0       0.0     243.0     0.0     548.0
1         0.0       0.0       0.0     719.0     0.0    1753.0
2         0.0       0.0       0.0    1019.0     0.0    1903.0
3         0.0       0.0       0.0    1022.0     0.0    1885.0
4         0.0       0.0       0.0    1246.0     0.0    2473.0
...       ...       ...       ...       ...     ...       ...
2797      0.0       0.0       0.0     501.0     0.0     888.0
2798      0.0       0.0       0.0     540.0     0.0     774.0
2799      0.0       0.0       0.0    1647.0     0.0    2671.0
2800      0.0       0.0       0.0      12.0     0.0      30.0
2801      0.0       0.0       0.0       0.0     0.0      -3.0

[2802 rows x 82 columns]

In [27]:
nba_df['AVG_NET_ESPN'] = nba_df['NET_ESPN'] / 82

In [28]:
nba_df['NBA_FANTASY_PTS_RANK'] = nba_df.groupby(["SEASON_ID"])["AVG_NET_ESPN"].rank(ascending = False)
nba_df.rename(columns = {'NBA_FANTASY_PTS_RANK' : 'NBA_FANTASY_PTS_PER_SEASON_RANK'}, inplace = True)

In [29]:
print(nba_df['NBA_FANTASY_PTS_PER_SEASON_RANK'])

0       118.0
1        75.0
2        69.0
3        80.0
4        47.0
        ...
2797    265.0
2798    242.0
2799     17.0
2800    364.0
2801    536.5
Name: NBA_FANTASY_PTS_PER_SEASON_RANK, Length: 2802, dtype: float64

# YAHOO DF

In [30]:
yahoo_df = pd.DataFrame.from_dict(yahoo_scoring)  
print(yahoo_df)

   PTS_YAHOO  REB_YAHOO  AST_YAHOO  STL_YAHOO  BLK_YAHOO  TOV_YAHOO
0        1.0        1.2        1.5        3.0        3.0       -1.0

In [31]:
r_df = pd.concat([yahoo_df]*length, ignore_index=True)
print(r_df.head())
print(r_df.tail())

   PTS_YAHOO  REB_YAHOO  AST_YAHOO  STL_YAHOO  BLK_YAHOO  TOV_YAHOO
0        1.0        1.2        1.5        3.0        3.0       -1.0
1        1.0        1.2        1.5        3.0        3.0       -1.0
2        1.0        1.2        1.5        3.0        3.0       -1.0
3        1.0        1.2        1.5        3.0        3.0       -1.0
4        1.0        1.2        1.5        3.0        3.0       -1.0
     PTS_YAHOO  REB_YAHOO  AST_YAHOO  STL_YAHOO  BLK_YAHOO  TOV_YAHOO
565        1.0        1.2        1.5        3.0        3.0       -1.0
566        1.0        1.2        1.5        3.0        3.0       -1.0
567        1.0        1.2        1.5        3.0        3.0       -1.0
568        1.0        1.2        1.5        3.0        3.0       -1.0
569        1.0        1.2        1.5        3.0        3.0       -1.0

In [32]:
yahoo_scoring_df = pd.concat([yahoo_df]*length_2, ignore_index=True)
print(yahoo_scoring_df.head())
print(yahoo_scoring_df.tail())

   PTS_YAHOO  REB_YAHOO  AST_YAHOO  STL_YAHOO  BLK_YAHOO  TOV_YAHOO
0        1.0        1.2        1.5        3.0        3.0       -1.0
1        1.0        1.2        1.5        3.0        3.0       -1.0
2        1.0        1.2        1.5        3.0        3.0       -1.0
3        1.0        1.2        1.5        3.0        3.0       -1.0
4        1.0        1.2        1.5        3.0        3.0       -1.0
      PTS_YAHOO  REB_YAHOO  AST_YAHOO  STL_YAHOO  BLK_YAHOO  TOV_YAHOO
2797        1.0        1.2        1.5        3.0        3.0       -1.0
2798        1.0        1.2        1.5        3.0        3.0       -1.0
2799        1.0        1.2        1.5        3.0        3.0       -1.0
2800        1.0        1.2        1.5        3.0        3.0       -1.0
2801        1.0        1.2        1.5        3.0        3.0       -1.0

In [33]:
mydb = mysql.connector.connect(
  host=os.environ.get("DB_HOST"),
  user=os.environ.get("DB_USER"),
  password=os.environ.get("DB_PASSWORD"),
  database=os.environ.get("DB_NAME")
)

mycursor = mydb.cursor()

sql = "DROP TABLE IF EXISTS yahoo_scoring"

mycursor.execute(sql)

In [34]:
# Credentials to database connection
hostname=os.environ.get("DB_HOST")
dbname=os.environ.get("DB_NAME")
uname=os.environ.get("DB_USER")
pwd=os.environ.get("DB_PASSWORD")

# Create SQLAlchemy engine to connect to MySQL Database
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}"
				.format(host=hostname, db=dbname, user=uname, pw=pwd))
yahoo_scoring_df.to_sql('yahoo_scoring', engine, index=False)

In [35]:
mydb.close()

In [36]:
#r_df["PLAYER_NAME"] = names

In [37]:
#columns_list = ['PLAYER_NAME', 'PTS_YAHOO', 'REB_YAHOO', 'AST_YAHOO', 'STL_YAHOO', 'BLK_YAHOO', 'TOV_YAHOO']

In [38]:
#r_df = r_df.reindex(columns = columns_list)

In [39]:
#nba_df = pd.merge(nba_df, r_df, how = 'right', on = 'PLAYER_NAME')

In [40]:
#print(nba_df)

In [41]:
#share_columns = ["REB",
                #"AST",
                #"STL",
                #"BLK",
                #"TOV",
                #"PTS"]

In [42]:
#for column in share_columns:
    #nba_df[column +"_YAHOO"] = nba_df[column] * nba_df[column+"_YAHOO"]

In [43]:
#print(nba_df)

In [44]:
#nba_df['NET_YAHOO'] = nba_df['REB_YAHOO'] + nba_df['AST_YAHOO'] + nba_df['STL_YAHOO'] + nba_df['BLK_YAHOO'] + nba_df['TOV_YAHOO'] + nba_df['PTS_YAHOO']

In [45]:
#print(nba_df)

In [46]:
#nba_df['AVG_NET_YAHOO'] = nba_df['NET_YAHOO'] / 82

In [47]:
#print(nba_df)

In [48]:
mydb = mysql.connector.connect(
  host=os.environ.get("DB_HOST"),
  user=os.environ.get("DB_USER"),
  password=os.environ.get("DB_PASSWORD"),
  database=os.environ.get("DB_NAME")
)

mycursor = mydb.cursor()

sql = "DROP TABLE IF EXISTS nba_clean"

mycursor.execute(sql)

In [49]:
# Credentials to database connection
hostname=os.environ.get("DB_HOST")
dbname=os.environ.get("DB_NAME")
uname=os.environ.get("DB_USER")
pwd=os.environ.get("DB_PASSWORD")

# Create SQLAlchemy engine to connect to MySQL Database
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}"
				.format(host=hostname, db=dbname, user=uname, pw=pwd))
nba_df.to_sql('nba_clean', engine, index=False)
mydb.close()