In [1]:
import mysql.connector as connection
import pandas as pd
import numpy as np
import os
import urllib
%matplotlib inline
import matplotlib.pyplot as plt
try:
    mydb = connection.connect(host=os.environ.get("DB_HOST"), database = os.environ.get("DB_NAME"),user=os.environ.get("DB_USER"), passwd=os.environ.get("DB_PASSWORD"),use_pure=True)
    query = "Select * from nba_clean;"
    nba_df = pd.read_sql(query,mydb)
    mydb.close() #close the connection
except Exception as e:
    mydb.close()
    print(str(e))

In [2]:
print(nba_df)

     SEASON_ID      PLAYER_NAME TEAM_ABBREVIATION   AGE    GP     W     L  \
0      2014-15     Aaron Gordon               ORL  19.0  47.0  14.0  33.0
1      2015-16     Aaron Gordon               ORL  20.0  78.0  32.0  46.0
2      2016-17     Aaron Gordon               ORL  21.0  80.0  29.0  51.0
3      2017-18     Aaron Gordon               ORL  22.0  58.0  19.0  39.0
4      2018-19     Aaron Gordon               ORL  23.0  78.0  40.0  38.0
...        ...              ...               ...   ...   ...   ...   ...
2797   2021-22  Ziaire Williams               MEM  20.0  62.0  41.0  21.0
2798   2019-20  Zion Williamson               NOP  19.0  24.0  11.0  13.0
2799   2020-21  Zion Williamson               NOP  20.0  61.0  29.0  32.0
2800   2019-20   Zylan Cheatham               NOP  24.0   4.0   2.0   2.0
2801   2021-22   Zylan Cheatham               UTA  26.0   1.0   0.0   1.0

      W_PCT          MIN    FGM  ...  STL_ESPN  BLK_ESPN  TOV_ESPN  PF_ESPN  \
0     0.298   796.925000   93.0  ...      84.0      88.0     -76.0      0.0
1     0.410  1863.120000  274.0  ...     236.0     220.0    -132.0      0.0
2     0.363  2297.965000  393.0  ...     260.0     160.0    -178.0      0.0
3     0.328  1909.078333  375.0  ...     236.0     180.0    -214.0      0.0
4     0.513  2632.533333  470.0  ...     228.0     224.0    -324.0      0.0
...     ...          ...    ...  ...       ...       ...       ...      ...
2797  0.661  1346.466667  191.0  ...     140.0      48.0     -82.0      0.0
2798  0.458   668.141667  210.0  ...      64.0      36.0    -118.0      0.0
2799  0.475  2025.890000  634.0  ...     228.0     156.0    -334.0      0.0
2800  0.500    51.043333    6.0  ...       4.0       4.0      -8.0      0.0
2801  0.000     5.183333    0.0  ...       0.0       0.0      -0.0      0.0

      DD2_ESPN  TD3_ESPN  PTS_ESPN  W_ESPN  NET_ESPN  AVG_NET_ESPN
0          0.0       0.0     243.0     0.0     548.0      6.682927
1          0.0       0.0     719.0     0.0    1753.0     21.378049
2          0.0       0.0    1019.0     0.0    1903.0     23.207317
3          0.0       0.0    1022.0     0.0    1885.0     22.987805
4          0.0       0.0    1246.0     0.0    2473.0     30.158537
...        ...       ...       ...     ...       ...           ...
2797       0.0       0.0     501.0     0.0     888.0     10.829268
2798       0.0       0.0     540.0     0.0     774.0      9.439024
2799       0.0       0.0    1647.0     0.0    2671.0     32.573171
2800       0.0       0.0      12.0     0.0      30.0      0.365854
2801       0.0       0.0       0.0     0.0      -3.0     -0.036585

[2802 rows x 83 columns]

In [3]:
print(nba_df["FTM"])
print(nba_df["FTA"])
print(nba_df["MIN"])

0        44.0
1       129.0
2       156.0
3       157.0
4       185.0
        ...
2797     43.0
2798    114.0
2799    369.0
2800      0.0
2801      0.0
Name: FTM, Length: 2802, dtype: float64
0        61.0
1       193.0
2       217.0
3       225.0
4       253.0
        ...
2797     55.0
2798    178.0
2799    529.0
2800      0.0
2801      0.0
Name: FTA, Length: 2802, dtype: float64
0        796.925000
1       1863.120000
2       2297.965000
3       1909.078333
4       2632.533333
           ...
2797    1346.466667
2798     668.141667
2799    2025.890000
2800      51.043333
2801       5.183333
Name: MIN, Length: 2802, dtype: float64

In [4]:
nba_df['PER'] = (nba_df['FGM'] * 85.910 + nba_df['STL'] * 53.897 + nba_df['FG3M'] * 51.757 + nba_df['FTM'] * 46.845 + nba_df['BLK'] * 39.190 + nba_df['OREB'] * 39.190 + nba_df['AST'] * 34.677 + nba_df['DREB'] * 14.707 - nba_df['PF'] * 17.174 - (nba_df['FTA'] - nba_df['FTM']) * 20.091 - (nba_df["FGA"] - nba_df["FGM"]) * 39.190 - nba_df['TOV'] * 53.897)* (1 / nba_df['MIN']) 
print(nba_df['PER'])

0       11.483872
1       17.891172
2       15.949140
3       18.747818
4       17.690298
          ...
2797    11.866849
2798    28.958366
2799    32.062395
2800     8.100803
2801   -22.682315
Name: PER, Length: 2802, dtype: float64

In [5]:
for col in nba_df.columns:
    print(col)

SEASON_ID
PLAYER_NAME
TEAM_ABBREVIATION
AGE
GP
W
L
W_PCT
MIN
FGM
FGA
FG_PCT
FG3M
FG3A
FG3_PCT
FTM
FTA
FT_PCT
OREB
DREB
REB
AST
TOV
STL
BLK
BLKA
PF
PFD
PTS
PLUS_MINUS
NBA_FANTASY_PTS
DD2
TD3
GP_RANK
W_RANK
L_RANK
W_PCT_RANK
MIN_RANK
FGM_RANK
FGA_RANK
FG_PCT_RANK
FG3M_RANK
FG3A_RANK
FG3_PCT_RANK
FTM_RANK
FTA_RANK
FT_PCT_RANK
OREB_RANK
DREB_RANK
REB_RANK
AST_RANK
TOV_RANK
STL_RANK
BLK_RANK
BLKA_RANK
PF_RANK
PFD_RANK
PTS_RANK
PLUS_MINUS_RANK
NBA_FANTASY_PTS_PER_SEASON_RANK
DD2_RANK
TD3_RANK
count
GP_ESPN
FGM_ESPN
FGA_ESPN
FTM_ESPN
FTA_ESPN
FG3M_ESPN
REB_ESPN
OREB_ESPN
DREB_ESPN
AST_ESPN
STL_ESPN
BLK_ESPN
TOV_ESPN
PF_ESPN
DD2_ESPN
TD3_ESPN
PTS_ESPN
W_ESPN
NET_ESPN
AVG_NET_ESPN
PER

In [6]:
column_list = list(nba_df)
print(column_list)

['SEASON_ID', 'PLAYER_NAME', 'TEAM_ABBREVIATION', 'AGE', 'GP', 'W', 'L', 'W_PCT', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'TOV', 'STL', 'BLK', 'BLKA', 'PF', 'PFD', 'PTS', 'PLUS_MINUS', 'NBA_FANTASY_PTS', 'DD2', 'TD3', 'GP_RANK', 'W_RANK', 'L_RANK', 'W_PCT_RANK', 'MIN_RANK', 'FGM_RANK', 'FGA_RANK', 'FG_PCT_RANK', 'FG3M_RANK', 'FG3A_RANK', 'FG3_PCT_RANK', 'FTM_RANK', 'FTA_RANK', 'FT_PCT_RANK', 'OREB_RANK', 'DREB_RANK', 'REB_RANK', 'AST_RANK', 'TOV_RANK', 'STL_RANK', 'BLK_RANK', 'BLKA_RANK', 'PF_RANK', 'PFD_RANK', 'PTS_RANK', 'PLUS_MINUS_RANK', 'NBA_FANTASY_PTS_PER_SEASON_RANK', 'DD2_RANK', 'TD3_RANK', 'count', 'GP_ESPN', 'FGM_ESPN', 'FGA_ESPN', 'FTM_ESPN', 'FTA_ESPN', 'FG3M_ESPN', 'REB_ESPN', 'OREB_ESPN', 'DREB_ESPN', 'AST_ESPN', 'STL_ESPN', 'BLK_ESPN', 'TOV_ESPN', 'PF_ESPN', 'DD2_ESPN', 'TD3_ESPN', 'PTS_ESPN', 'W_ESPN', 'NET_ESPN', 'AVG_NET_ESPN', 'PER']

In [7]:
fantasy_df = nba_df.copy()

In [8]:
col = ['NBA_FANTASY_PTS','GP_RANK', 'W_RANK', 'L_RANK', 'W_PCT_RANK', 'MIN_RANK', 'FGM_RANK', 'FGA_RANK', 'FG_PCT_RANK', 'FG3M_RANK', 'FG3A_RANK', 'FG3_PCT_RANK', 'FTM_RANK', 'FTA_RANK', 'FT_PCT_RANK', 'OREB_RANK', 'DREB_RANK', 'REB_RANK', 'AST_RANK', 'TOV_RANK', 'STL_RANK', 'BLK_RANK', 'BLKA_RANK', 'PF_RANK', 'PFD_RANK', 'PTS_RANK', 'PLUS_MINUS_RANK', 'NBA_FANTASY_PTS_PER_SEASON_RANK', 'DD2_RANK', 'TD3_RANK', 'count', 'GP_ESPN', 'FGM_ESPN', 'FGA_ESPN', 'FTM_ESPN', 'FTA_ESPN', 'FG3M_ESPN', 'REB_ESPN', 'OREB_ESPN', 'DREB_ESPN', 'AST_ESPN', 'STL_ESPN', 'BLK_ESPN', 'TOV_ESPN', 'PF_ESPN', 'DD2_ESPN', 'TD3_ESPN', 'PTS_ESPN', 'W_ESPN', 'NET_ESPN', 'AVG_NET_ESPN', 'PER']

fantasy_df = fantasy_df[['SEASON_ID', 'PLAYER_NAME', 'TEAM_ABBREVIATION', 'AGE', 'GP', 'W', 'L', 'W_PCT', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'TOV', 'STL', 'BLK', 'BLKA', 'PF', 'PFD', 'PTS', 'PLUS_MINUS', 'DD2', 'TD3']]

In [9]:
fantasy_df

,SEASON_ID,PLAYER_NAME,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,MIN,FGM,...,TOV,STL,BLK,BLKA,PF,PFD,PTS,PLUS_MINUS,DD2,TD3
0,2014-15,Aaron Gordon,ORL,19.0,47.0,14.0,33.0,0.298,796.925000,93.0,...,38.0,21.0,22.0,15.0,83.0,52.0,243.0,-163.0,1.0,0.0
1,2015-16,Aaron Gordon,ORL,20.0,78.0,32.0,46.0,0.410,1863.120000,274.0,...,66.0,59.0,55.0,34.0,153.0,146.0,719.0,-75.0,12.0,0.0
2,2016-17,Aaron Gordon,ORL,21.0,80.0,29.0,51.0,0.363,2297.965000,393.0,...,89.0,65.0,40.0,44.0,172.0,168.0,1019.0,-163.0,7.0,0.0
3,2017-18,Aaron Gordon,ORL,22.0,58.0,19.0,39.0,0.328,1909.078333,375.0,...,107.0,59.0,45.0,42.0,111.0,192.0,1022.0,-92.0,17.0,0.0
4,2018-19,Aaron Gordon,ORL,23.0,78.0,40.0,38.0,0.513,2632.533333,470.0,...,162.0,57.0,56.0,52.0,172.0,262.0,1246.0,107.0,19.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2797,2021-22,Ziaire Williams,MEM,20.0,62.0,41.0,21.0,0.661,1346.466667,191.0,...,41.0,35.0,12.0,17.0,113.0,51.0,501.0,122.0,0.0,0.0
2798,2019-20,Zion Williamson,NOP,19.0,24.0,11.0,13.0,0.458,668.141667,210.0,...,59.0,16.0,9.0,39.0,42.0,133.0,540.0,62.0,2.0,0.0
2799,2020-21,Zion Williamson,NOP,20.0,61.0,29.0,32.0,0.475,2025.890000,634.0,...,167.0,57.0,39.0,131.0,135.0,366.0,1647.0,89.0,14.0,0.0
2800,2019-20,Zylan Cheatham,NOP,24.0,4.0,2.0,2.0,0.500,51.043333,6.0,...,4.0,1.0,1.0,0.0,10.0,0.0,12.0,-28.0,0.0,0.0
2801,2021-22,Zylan Cheatham,UTA,26.0,1.0,0.0,1.0,0.000,5.183333,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-13.0,0.0,0.0

In [10]:
from sqlalchemy import create_engine
from pandas.io import sql
import pymysql
import mysql.connector

In [11]:
mydb = mysql.connector.connect(
  host=os.environ.get("DB_HOST"),
  user=os.environ.get("DB_USER"),
  password=os.environ.get("DB_PASSWORD"),
  database=os.environ.get("DB_NAME")
)

mycursor = mydb.cursor()

sql = "DROP TABLE IF EXISTS nba_orignal"

mycursor.execute(sql)

In [12]:
# Credentials to database connection
hostname=os.environ.get("DB_HOST")
dbname=os.environ.get("DB_NAME")
uname=os.environ.get("DB_USER")
pwd=os.environ.get("DB_PASSWORD")

# Create SQLAlchemy engine to connect to MySQL Database
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}"
				.format(host=hostname, db=dbname, user=uname, pw=pwd))
nba_df.to_sql('nba_orignal', engine, index=False)
mydb.close()

In [13]:
column_list2 = list(fantasy_df)
print(column_list2)

['SEASON_ID', 'PLAYER_NAME', 'TEAM_ABBREVIATION', 'AGE', 'GP', 'W', 'L', 'W_PCT', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'TOV', 'STL', 'BLK', 'BLKA', 'PF', 'PFD', 'PTS', 'PLUS_MINUS', 'DD2', 'TD3']

In [14]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error

In [15]:
#filter_data = fantasy_df[fantasy_df['PLAYER_NAME']=='Aaron Gordon']

In [16]:
#filter_data

In [17]:
#df2 = {'SEASON_ID':'2022-2023','PLAYER_ID':203932,'PLAYER_NAME':'Aaron Gordon','TEAM_ABBREVIATION':'DEN','AGE':27}

In [18]:
#filter_data = filter_data.append(df2, ignore_index = True)

In [19]:
#filter_data

In [20]:
#filtered_data = filter_data.drop('PLAYER_NAME', 1)
#filtered_data = filter_data.drop('PLAYER_ID', 1)
#filtered_data = filter_data.drop('TEAM_ABBREVIATION', 1)
#filtered_data = filter_data.drop('SEASON_ID', 1)

#filtered_data = filter_data.iloc[:-1 , :]
#filtered_data

In [21]:
#column_list2 = list(filtered_data)
#print(column_list2)

In [22]:
#X = filtered_data[['AGE']].values

In [23]:
#y = filtered_data[['GP']].values

In [24]:
#print(X)

In [25]:
#print(y)

In [26]:
#x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.10,random_state=0)

In [27]:
#ml=LinearRegression()
#ml.fit(x_train,y_train)

In [28]:
#y_pred=ml.predict(x_test)
#print(y_pred)

In [29]:
#y_pred = y_pred.flatten()

#y_pred

In [30]:
#pred_y_df = pd.DataFrame({"AGE":27, 'GP':y_pred})
#pred_y_df['GP']= pred_y_df['GP'].round(decimals = 0)
#pred_y_df

In [31]:
#gp = pred_y_df["BLKA"].tolist()

In [32]:
#filter_data.iloc[8,5] = gp
#filter_data

In [33]:
#fantasy_df['AGE'][fantasy_df.index[-1]]

In [34]:
player_names = fantasy_df['PLAYER_NAME'].tolist()
i = 0
leng = len(player_names)
while i <= leng-1:
    filter_data = fantasy_df[fantasy_df['PLAYER_NAME']== player_names[i]]
    df2 = {'SEASON_ID':'2022-2023','PLAYER_NAME':player_names[i],'TEAM_ABBREVIATION':filter_data['TEAM_ABBREVIATION'][filter_data.index[-1]],'AGE':(filter_data['AGE'][filter_data.index[-1]]+1)}
    filter_data = filter_data.append(df2, ignore_index = True)
    filtered_data = filter_data.drop('PLAYER_NAME', 1)
    filtered_data = filter_data.drop('TEAM_ABBREVIATION', 1)
    filtered_data = filter_data.drop('SEASON_ID', 1)
    filtered_data = filter_data.iloc[:-1 , :]
    stats_list = list(filtered_data)
    j = 1
    length = len(stats_list)
    while j <= length-1:
        X = filtered_data[['AGE']].values
        y = filtered_data[stats_list[j]].values
        x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.10,random_state=0)
        ml=LinearRegression()
        ml.fit(x_train,y_train)
        y_pred=ml.predict(x_test)
        y_pred = y_pred.flatten()
        pred_y_df = pd.DataFrame({"AGE":filter_data['AGE'][filter_data.index[-1]], stats_list[j]:y_pred})
        pred_y_df[stats_list[j]]= pred_y_df[stats_list[j]].round(decimals = 0)
        st = pred_y_df[stats_list[j]].tolist()
        size = len(filter_data)-1
        index = filter_data.columns.get_loc(stats_list[j])
        filter_data.iloc[size,index] = st
        j+=1
    i+=1
print(filter_data)

/var/folders/8z/yxhm1c6x4bvg_s6d6w0cl6_80000gn/T/ipykernel_90674/1672313651.py:8: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  filtered_data = filter_data.drop('PLAYER_NAME', 1)
/var/folders/8z/yxhm1c6x4bvg_s6d6w0cl6_80000gn/T/ipykernel_90674/1672313651.py:9: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  filtered_data = filter_data.drop('TEAM_ABBREVIATION', 1)
/var/folders/8z/yxhm1c6x4bvg_s6d6w0cl6_80000gn/T/ipykernel_90674/1672313651.py:10: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  filtered_data = filter_data.drop('SEASON_ID', 1)

ValueError: could not convert string to float: 'Aaron Gordon'