In [1]:
import mysql.connector as connection
import pandas as pd
import numpy as np
try:
    mydb = connection.connect(host="localhost", database = 'nba_stats',user="root", passwd="jeevan2003",use_pure=True)
    query = "Select * from nba_clean;"
    nba_df = pd.read_sql(query,mydb)
    mydb.close() #close the connection
except Exception as e:
    mydb.close()
    print(str(e))

In [2]:
print(nba_df)

      PLAYER_ID      PLAYER_NAME NICKNAME       TEAM_ID TEAM_ABBREVIATION  \
0        203932     Aaron Gordon    Aaron  1.610613e+09               ORL
1        203932     Aaron Gordon    Aaron  1.610613e+09               ORL
2        203932     Aaron Gordon    Aaron  1.610613e+09               ORL
3        203932     Aaron Gordon    Aaron  1.610613e+09               ORL
4        203932     Aaron Gordon    Aaron  1.610613e+09               ORL
...         ...              ...      ...           ...               ...
2797    1630533  Ziaire Williams   Ziaire  1.610613e+09               MEM
2798    1629627  Zion Williamson     Zion  1.610613e+09               NOP
2799    1629627  Zion Williamson     Zion  1.610613e+09               NOP
2800    1629597   Zylan Cheatham    Zylan  1.610613e+09               NOP
2801    1629597   Zylan Cheatham    Zylan  1.610613e+09               UTA

       AGE    GP    GM     W     L  ...  PF_RANK  PFD_RANK  PTS_RANK  \
0     19.0  47.0  35.0  14.0  33.0  ...    207.0     301.0     320.0
1     20.0  78.0   4.0  32.0  46.0  ...    349.0     132.0     142.0
2     21.0  80.0   2.0  29.0  51.0  ...    412.0      84.0      74.0
3     22.0  58.0  24.0  19.0  39.0  ...    319.0      67.0      66.0
4     23.0  78.0   4.0  40.0  38.0  ...    439.0      39.0      52.0
...    ...   ...   ...   ...   ...  ...      ...       ...       ...
2797  20.0  62.0  20.0  41.0  21.0  ...    415.0     305.0     226.0
2798  19.0  24.0  58.0  11.0  13.0  ...    174.0     107.0     181.0
2799  20.0  61.0  21.0  29.0  32.0  ...    457.0       6.0      10.0
2800  24.0   4.0  78.0   2.0   2.0  ...     78.0     513.0     486.0
2801  26.0   1.0  81.0   0.0   1.0  ...      1.0     564.0     582.0

      PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  \
0               434.0                 317.0     193.0      21.0   5.0
1               358.0                 101.0      54.0      25.0   5.0
2               436.0                  78.0      80.0      24.0   5.0
3               439.0                  72.0      30.0      32.0   5.0
4                91.0                  43.0      34.0      38.0   5.0
...               ...                   ...       ...       ...   ...
2797             95.0                 271.0     268.0      40.0   5.0
2798            114.0                 250.0     142.0      29.0   5.0
2799            107.0                  16.0      33.0      29.0   5.0
2800            324.0                 491.0     239.0      29.0   5.0
2801            332.0                 596.0     268.0      40.0   5.0

                CFPARAMS  count
0      203932,1610612753      8
1      203932,1610612753      8
2      203932,1610612753      8
3      203932,1610612753      8
4      203932,1610612753      8
...                  ...    ...
2797  1630533,1610612763      1
2798  1629627,1610612740      2
2799  1629627,1610612740      2
2800  1629597,1610612740      2
2801  1629597,1610612762      2

[2802 rows x 68 columns]

In [3]:
espn_scoring = {"FGM_ESPN": ["2"],"FGA_ESPN": ["-1"],"FTM_ESPN": ["1"],"FTA_ESPN": ["-1"],"FG3M_ESPN": ["-1"],"REB_ESPN": ["1"],"AST_ESPN": ["2"],"STL_ESPN": ["4"],"BLK_ESPN": ["4"],"TOV_ESPN": ["-2"],"PTS_ESPN": ["1"]}

In [4]:
yahoo_scoring = {"PTS_YAHOO": ["1"],"REB_YAHOO": ["1.2"],"AST_YAHOO": ["1.5"],"STL_YAHOO": ["3"],"BLK_YAHOO": ["3"],"TOV_YAHOO": ["-1"]}

In [5]:
nba_df = nba_df.drop('CFPARAMS', 1)
nba_df = nba_df.drop('CFID', 1)

/var/folders/8z/yxhm1c6x4bvg_s6d6w0cl6_80000gn/T/ipykernel_67745/1005924438.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  nba_df = nba_df.drop('CFPARAMS', 1)
/var/folders/8z/yxhm1c6x4bvg_s6d6w0cl6_80000gn/T/ipykernel_67745/1005924438.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  nba_df = nba_df.drop('CFID', 1)

In [6]:
print(nba_df)

      PLAYER_ID      PLAYER_NAME NICKNAME       TEAM_ID TEAM_ABBREVIATION  \
0        203932     Aaron Gordon    Aaron  1.610613e+09               ORL
1        203932     Aaron Gordon    Aaron  1.610613e+09               ORL
2        203932     Aaron Gordon    Aaron  1.610613e+09               ORL
3        203932     Aaron Gordon    Aaron  1.610613e+09               ORL
4        203932     Aaron Gordon    Aaron  1.610613e+09               ORL
...         ...              ...      ...           ...               ...
2797    1630533  Ziaire Williams   Ziaire  1.610613e+09               MEM
2798    1629627  Zion Williamson     Zion  1.610613e+09               NOP
2799    1629627  Zion Williamson     Zion  1.610613e+09               NOP
2800    1629597   Zylan Cheatham    Zylan  1.610613e+09               NOP
2801    1629597   Zylan Cheatham    Zylan  1.610613e+09               UTA

       AGE    GP    GM     W     L  ...  BLK_RANK  BLKA_RANK  PF_RANK  \
0     19.0  47.0  35.0  14.0  33.0  ...     154.0      202.0    207.0
1     20.0  78.0   4.0  32.0  46.0  ...      57.0      342.0    349.0
2     21.0  80.0   2.0  29.0  51.0  ...      83.0      405.0    412.0
3     22.0  58.0  24.0  19.0  39.0  ...      76.0      438.0    319.0
4     23.0  78.0   4.0  40.0  38.0  ...      50.0      471.0    439.0
...    ...   ...   ...   ...   ...  ...       ...        ...      ...
2797  20.0  62.0  20.0  41.0  21.0  ...     291.0      329.0    415.0
2798  19.0  24.0  58.0  11.0  13.0  ...     289.0      441.0    174.0
2799  20.0  61.0  21.0  29.0  32.0  ...      80.0      540.0    457.0
2800  24.0   4.0  78.0   2.0   2.0  ...     444.0        1.0     78.0
2801  26.0   1.0  81.0   0.0   1.0  ...     520.0        1.0      1.0

      PFD_RANK  PTS_RANK  PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  \
0        301.0     320.0            434.0                 317.0     193.0
1        132.0     142.0            358.0                 101.0      54.0
2         84.0      74.0            436.0                  78.0      80.0
3         67.0      66.0            439.0                  72.0      30.0
4         39.0      52.0             91.0                  43.0      34.0
...        ...       ...              ...                   ...       ...
2797     305.0     226.0             95.0                 271.0     268.0
2798     107.0     181.0            114.0                 250.0     142.0
2799       6.0      10.0            107.0                  16.0      33.0
2800     513.0     486.0            324.0                 491.0     239.0
2801     564.0     582.0            332.0                 596.0     268.0

      TD3_RANK  count
0         21.0      8
1         25.0      8
2         24.0      8
3         32.0      8
4         38.0      8
...        ...    ...
2797      40.0      1
2798      29.0      2
2799      29.0      2
2800      29.0      2
2801      40.0      2

[2802 rows x 66 columns]

In [7]:
all_names = nba_df["PLAYER_NAME"].tolist()
names = pd.unique(nba_df[['PLAYER_NAME']].values.ravel())

In [8]:
espn_df = pd.DataFrame.from_dict(espn_scoring)  
print(espn_df)

  FGM_ESPN FGA_ESPN FTM_ESPN FTA_ESPN 3PM_ESPN REB_ESPN AST_ESPN STL_ESPN  \
0        2       -1        1       -1       -1        1        2        4

  BLK_ESPN TOV_ESPN PTS_ESPN
0        4       -2        1

In [9]:
df_repeated = pd.concat([espn_df]*570, ignore_index=True)
print(df_repeated.head())
print(df_repeated.tail())

  FGM_ESPN FGA_ESPN FTM_ESPN FTA_ESPN 3PM_ESPN REB_ESPN AST_ESPN STL_ESPN  \
0        2       -1        1       -1       -1        1        2        4
1        2       -1        1       -1       -1        1        2        4
2        2       -1        1       -1       -1        1        2        4
3        2       -1        1       -1       -1        1        2        4
4        2       -1        1       -1       -1        1        2        4

  BLK_ESPN TOV_ESPN PTS_ESPN
0        4       -2        1
1        4       -2        1
2        4       -2        1
3        4       -2        1
4        4       -2        1
    FGM_ESPN FGA_ESPN FTM_ESPN FTA_ESPN 3PM_ESPN REB_ESPN AST_ESPN STL_ESPN  \
565        2       -1        1       -1       -1        1        2        4
566        2       -1        1       -1       -1        1        2        4
567        2       -1        1       -1       -1        1        2        4
568        2       -1        1       -1       -1        1        2        4
569        2       -1        1       -1       -1        1        2        4

    BLK_ESPN TOV_ESPN PTS_ESPN
565        4       -2        1
566        4       -2        1
567        4       -2        1
568        4       -2        1
569        4       -2        1

In [10]:
df_repeated["PLAYER_NAME"] = names

In [11]:
print(df_repeated)

    FGM_ESPN FGA_ESPN FTM_ESPN FTA_ESPN 3PM_ESPN REB_ESPN AST_ESPN STL_ESPN  \
0          2       -1        1       -1       -1        1        2        4
1          2       -1        1       -1       -1        1        2        4
2          2       -1        1       -1       -1        1        2        4
3          2       -1        1       -1       -1        1        2        4
4          2       -1        1       -1       -1        1        2        4
..       ...      ...      ...      ...      ...      ...      ...      ...
565        2       -1        1       -1       -1        1        2        4
566        2       -1        1       -1       -1        1        2        4
567        2       -1        1       -1       -1        1        2        4
568        2       -1        1       -1       -1        1        2        4
569        2       -1        1       -1       -1        1        2        4

    BLK_ESPN TOV_ESPN PTS_ESPN      PLAYER_NAME
0          4       -2        1     Aaron Gordon
1          4       -2        1      Aaron Henry
2          4       -2        1    Aaron Holiday
3          4       -2        1    Aaron Nesmith
4          4       -2        1    Aaron Wiggins
..       ...      ...      ...              ...
565        4       -2        1      Zach LaVine
566        4       -2        1       Zeke Nnaji
567        4       -2        1  Ziaire Williams
568        4       -2        1  Zion Williamson
569        4       -2        1   Zylan Cheatham

[570 rows x 12 columns]

In [12]:
columns_list = [
                "PLAYER_NAME",
                "FGM_ESPN",
                "FGA_ESPN",
                "FTM_ESPN",
                "FG3M_ESPN",
                "REB_ESPN",
                "AST_ESPN",
                "STL_ESPN",
                "BLK_ESPN",
                "TOV_ESPN",
                "PTS_ESPN"
               ]

In [13]:
df_repeated = df_repeated.reindex(columns = columns_list)

In [14]:
print(df_repeated)

         PLAYER_NAME FGM_ESPN FGA_ESPN FTM_ESPN 3PM_ESPN REB_ESPN AST_ESPN  \
0       Aaron Gordon        2       -1        1       -1        1        2
1        Aaron Henry        2       -1        1       -1        1        2
2      Aaron Holiday        2       -1        1       -1        1        2
3      Aaron Nesmith        2       -1        1       -1        1        2
4      Aaron Wiggins        2       -1        1       -1        1        2
..               ...      ...      ...      ...      ...      ...      ...
565      Zach LaVine        2       -1        1       -1        1        2
566       Zeke Nnaji        2       -1        1       -1        1        2
567  Ziaire Williams        2       -1        1       -1        1        2
568  Zion Williamson        2       -1        1       -1        1        2
569   Zylan Cheatham        2       -1        1       -1        1        2

    STL_ESPN BLK_ESPN TOV_ESPN PTS_ESPN
0          4        4       -2        1
1          4        4       -2        1
2          4        4       -2        1
3          4        4       -2        1
4          4        4       -2        1
..       ...      ...      ...      ...
565        4        4       -2        1
566        4        4       -2        1
567        4        4       -2        1
568        4        4       -2        1
569        4        4       -2        1

[570 rows x 11 columns]

In [15]:
nba_df = pd.merge(nba_df, df_repeated, how = 'right', on = 'PLAYER_NAME')

In [16]:
print(nba_df)

      PLAYER_ID      PLAYER_NAME NICKNAME       TEAM_ID TEAM_ABBREVIATION  \
0        203932     Aaron Gordon    Aaron  1.610613e+09               ORL
1        203932     Aaron Gordon    Aaron  1.610613e+09               ORL
2        203932     Aaron Gordon    Aaron  1.610613e+09               ORL
3        203932     Aaron Gordon    Aaron  1.610613e+09               ORL
4        203932     Aaron Gordon    Aaron  1.610613e+09               ORL
...         ...              ...      ...           ...               ...
2797    1630533  Ziaire Williams   Ziaire  1.610613e+09               MEM
2798    1629627  Zion Williamson     Zion  1.610613e+09               NOP
2799    1629627  Zion Williamson     Zion  1.610613e+09               NOP
2800    1629597   Zylan Cheatham    Zylan  1.610613e+09               NOP
2801    1629597   Zylan Cheatham    Zylan  1.610613e+09               UTA

       AGE    GP    GM     W     L  ...  FGM_ESPN  FGA_ESPN  FTM_ESPN  \
0     19.0  47.0  35.0  14.0  33.0  ...         2        -1         1
1     20.0  78.0   4.0  32.0  46.0  ...         2        -1         1
2     21.0  80.0   2.0  29.0  51.0  ...         2        -1         1
3     22.0  58.0  24.0  19.0  39.0  ...         2        -1         1
4     23.0  78.0   4.0  40.0  38.0  ...         2        -1         1
...    ...   ...   ...   ...   ...  ...       ...       ...       ...
2797  20.0  62.0  20.0  41.0  21.0  ...         2        -1         1
2798  19.0  24.0  58.0  11.0  13.0  ...         2        -1         1
2799  20.0  61.0  21.0  29.0  32.0  ...         2        -1         1
2800  24.0   4.0  78.0   2.0   2.0  ...         2        -1         1
2801  26.0   1.0  81.0   0.0   1.0  ...         2        -1         1

      3PM_ESPN  REB_ESPN  AST_ESPN  STL_ESPN  BLK_ESPN  TOV_ESPN  PTS_ESPN
0           -1         1         2         4         4        -2         1
1           -1         1         2         4         4        -2         1
2           -1         1         2         4         4        -2         1
3           -1         1         2         4         4        -2         1
4           -1         1         2         4         4        -2         1
...        ...       ...       ...       ...       ...       ...       ...
2797        -1         1         2         4         4        -2         1
2798        -1         1         2         4         4        -2         1
2799        -1         1         2         4         4        -2         1
2800        -1         1         2         4         4        -2         1
2801        -1         1         2         4         4        -2         1

[2802 rows x 76 columns]